.image {
    width: 350px; /* Adjust the width as per your requirement */
    height: auto; /* Maintain aspect ratio */
  }

  .image1 {
    width: 200px; /* Adjust the width as per your requirement */
    height: auto; /* Maintain aspect ratio */
  }  


.app {
    background-color: rgb(241, 240, 149); 
    height: 100vh; 
    
  }

.labels {
  font-style: italic;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-right: '8px';
  font-size: '50px';
  padding: 12px;
  
} 

.options {
 font-family: 'Bembo Bold Italic';
 font-style: italic
}

.textlink {
  padding: '8px';
  border-radius: '4px';
  border: '1px solid #ccc';
  margin-right: '8px';
  width: '200px';
}

.textbutton {
  padding: '8px 16px';
  border-radius: '4px';
  background-color: '#007bff';
  color: #fff;
  border: 'none';
  cursor: pointer;
}


